.window {
    display: flex;
    padding: 30px;
}

.users {
    padding: 20px 140px 0 20px;
}

.item {
    list-style: none;
    padding: 10px 5px;
    cursor: pointer;
    border: 1px solid gray;
}

.active_item {
    background-color: cornflowerblue;
    color: white;
}

.details {
    border: 1px solid gray;
}

.name,
.info {
    padding: 10px;
    margin: 0;
}

.avatar {
    width: 100%;
}

.info:first-letter {
    text-transform: uppercase;
}